In [6]:
from io import StringIO
import pandas as pd

In [8]:
data = ('col1,col2,col3\n'
        'x,y,1\n'
       'a,b,2\n'
       'c,d,3')
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [9]:
pd.read_csv(StringIO(data) , usecols = ['col1' , 'col2'])

  col1 col2
0    x    y
1    a    b
2    c    d

In [10]:
data=('index, a,b,c\n'
        'Egg,1,23,33\n'
        'bread,24,34,16\n'
        'milk,50,40,39')
pd.read_csv(StringIO(data))

   index   a   b   c
0    Egg   1  23  33
1  bread  24  34  16
2   milk  50  40  39

In [11]:
pd.read_csv(StringIO(data),index_col=0)

        a   b   c
index
Egg     1  23  33
bread  24  34  16
milk   50  40  39

In [13]:
dataset=( 'a,b\n'
        '"hello,\\"bob\\",nice to see you" ,5')
#double couts are used to determine the string belongs to single column
# and \\ are used to before " to tell its a part of a string
pd.read_csv(StringIO(dataset), escapechar='\\')

                              a  b
0  hello,"bob",nice to see you   5